NODE_ENV=production
PORT=3100
MEIAO_DB_HOST=127.0.0.1
MEIAO_DB_PORT=3307
MEIAO_DB_USER=root
MEIAO_DB_PASSWORD=
MEIAO_DB_NAME=meiao_internal
MEIAO_PUBLIC_BASE_URL=http://127.0.0.1:3100
MEIAO_JOB_MAX_CONCURRENCY=3
MEIAO_TASK_ENGINE=mysql
MEIAO_TEMPORAL_ADDRESS=127.0.0.1:7233
MEIAO_TEMPORAL_NAMESPACE=default
MEIAO_TEMPORAL_TASK_QUEUE=meiao-cloud
MEIAO_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
MEIAO_ADMIN_USERNAME=admin
MEIAO_ADMIN_PASSWORD=
MEIAO_SUPER_ADMIN_USERS=admin
MEIAO_SPIDER_GATEWAY_URL=
MEIAO_SPIDER_API_KEY=
MEIAO_DEFAULT_CHAT_MODEL=
MEIAO_DEFAULT_ANALYSIS_MODEL=
MEIAO_PLANNING_ANALYSIS_MODEL=
MEIAO_AGENT_ANALYSIS_MODEL=
KIE_API_KEY=
MEIAO_KIE_API_KEY=
APIPORTS_API_KEY=
MEIAO_APIPORTS_API_KEY=
APIPORTS_BASE_URL=https://apiports.com/v1/api/generate
KIE_CHAT_MODEL=
ARK_API_KEY=
